@model BildstudionDV.BI.ViewModels.KundViewModel
@{ViewBag.Title = "Redigerar Kund"; }
<center>

    <b>
        <input type="button" class="btn btn-block btn-info" onclick='window.location.href = "../jobb/index"' value="Tillbaka till Index" /><br />

        <font color="red">@ViewBag.Message</font>
        <br />

        @using (Html.BeginForm())
        {
            <b>Kundens Namn:</b><br />
            @Html.TextBoxFor(x => x.KundNamn)
            @Html.HiddenFor(x => x.OldName)
            <br /><br />
            <button type="submit" class="btn btn-info">Updatera Kund</button><br />
            <br />
            <input type="button" class="btn btn-danger" onclick="Remove()" value="Ta Bort Kund" />
            <b><font color="red">@ViewBag.ErrorMessage</font></b>

        }

    </b>
</center>

<script>
  function Remove() {
        var r = confirm("Du ta nu bort detta jobb, är du säker på att du vill göra det? Tryck ok för att ta bort.");
        if (r == true) {
            window.location.href = "../jobb/removekund?kundNamn=" + "@Model.KundNamn";
        }
    }
</script>