@{ ViewBag.Title = "Wiki Närvaro"; }
<center><h1>Wiki</h1></center>
<br />
<button class="btn-dark btn-block btn nav-link " onclick='window.location.href = "../wiki/index"'>
    <h1>

        Tillbaks till Wiki Index
    </h1>
</button>
<h1>
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bag-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 1a2.5 2.5 0 0 0-2.5 2.5V4h5v-.5A2.5 2.5 0 0 0 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5z" />
    </svg>Närvaro Wiki
</h1>

<div class="row">
    <div class="col-sm">
        <img src="@Url.Content("~/img/närvaro1.png")" style="width: 100%;" />
    </div>
    <div class="col-sm">
        <h4>
            1 - Klicka på Närvaro uppe i menyn.<br />
            2 - Klicka på "Lägg till ny deltagare.
        </h4>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm">
        <img src="@Url.Content("~/img/närvaro2.png")" style="width: 100%;" />
    </div>
    <div class="col-sm">
        <h4>
            Skriv in detaljerna, allt går att redigera längre fram om så önskas. <br />
            Är deltagaren aktiv ska vara ikryssad för att deltagarens närvaro ska registreras, om deltagaren ej är aktiv registreras hen inte när ni fyller i närvaro.<br />
            Tryck på "Lägg till deltagare" knappen.
            <i>
                OBS! förväntad närvaro registreras när ni skapar närvaro dvs om 'Erik' kör halvtid i 1 månad och sedan går upp till heltid så kommer alla poster som registreras före ändringen fortfarande förvänta sig halvtid.
            </i>
        </h4>
    </div>

</div>
<hr />
<div class="row">
    <div class="col-sm">
        <img src="@Url.Content("~/img/närvaro3.png")" style="width: 100%;" />
    </div>
    <div class="col-sm">
        <h4>
            För att redigera närvaro trycker man på gråa knappen (1)<br />
            För att see rapport/diagram trycker man på vita diagramknappen i spalten diagram (2)<br />
            För att Redigera Deltagarens närvaro osv trycker man på ljusblåa knappen "Redigera 'deltagarens namn'"<br />
            Tryck på gråa "Redigera Närvaro" knappen (1)
        </h4>
    </div>

</div>
<hr />
<div class="row">
    <div class="col-sm">
        <img src="@Url.Content("~/img/närvaro4.png")" style="width: 100%;" />
    </div>
    <div class="col-sm">
        <h4>
            När du kommer in på sidan är ett datum valt, det är alltid för veckans datum, för att ändra tryck på datumet så kommer en dropdown fram där du kan välja datum.<br />
            (Detta laddar om sidan)
        </h4>
    </div>

</div>
<hr />
<div class="row">
    <div class="col-sm">
        <img src="@Url.Content("~/img/närvaro5.png")" style="width: 100%;" />
    </div>
    <div class="col-sm">
        <h4>
            För att redigera närvaro tryck på droplistan för relevant dag så dyker alternativ för dagen upp.<br />
            <i>Ändringarna sparas via javascript så ni behöver inte trycka på någon knapp för att spara ändringar</i>

        </h4>
    </div>

</div>
<hr />
<div class="row">
    <div class="col-sm">
        <img src="@Url.Content("~/img/närvaro6.png")" style="width: 100%;" />
    </div>
    <div class="col-sm">
        <h4>
            Tryck på vita knappen under datum för att se matlista.
        </h4>
    </div>

</div>
<hr />
<div class="row">
    <div class="col-sm">
        <img src="@Url.Content("~/img/närvaro7.png")" style="width: 100%;" />
    </div>
    <div class="col-sm">
        <h4>
            I denna vy kan du:<br />
            -Redigera Matlådepris (1) <i>Tryck på updatera knappen för att ändra (detta värde sparas så behöver bara skriva in när priset ändrats)</i><br />
            - Exportera matlistan till Excel (2). Detta laddar ner en .xlsx fil som går att öppna med excel.
        </h4>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm">
        <img src="@Url.Content("~/img/närvaro8.png")" style="width: 100%;" />
    </div>
    <div class="col-sm">
        <h4>
            Filen sparas.
        </h4>
    </div>

</div>
<hr />
<div class="row">
    <div class="col-sm">
        <img src="@Url.Content("~/img/närvaro9.png")" style="width: 100%;" />
    </div>
    <div class="col-sm">
        <h4>
            Gå tillbaka till Närvaro index genom att trycka på "Närvaro" länken uppe i menyn.<br />
            Vi kollar nu på diagram/rapporten för Erik.
        </h4>
    </div>

</div>
<hr />
<div class="row">
    <div class="col-sm">
        <img src="@Url.Content("~/img/närvaro10.png")" style="width: 100%;" />
    </div>
    <div class="col-sm">
        <h4>
            I denna vy kan du:<br />
            - Välja hur många månader bakåt du vill se, nuvarande är 12-24-36 månader, men om det inte finns nån data registrerade i en månadsrapport så visas den ej.<br />
            - Exportera till excel, vita knappen (2). Detta sparar en .xlsx fil som går att öppna med excel.
        </h4>
    </div>

</div>
