@model List<BildstudionDV.BI.ViewModels.ViewModelMonthAttendence>
<br />
<br />

    <button class="btn-info btn-block btn nav-link" href="@Url.Action("Index", "Närvaro")">Tillbaka till Närvaro index</button>
<br />
<h1>@ViewBag.DeltagarNamn</h1>
<br />
@using (Html.BeginForm("diagram", "Närvaro", FormMethod.Get, new { name = "formDate" }))
{
    <hidden itemid="accessid" name="accessid"></hidden>
    <select name="month" id="month">
        <option selected value="@ViewBag.SelectValue">@ViewBag.SelectValue</option>
        <option value="12">12</option>
        <option value="24">24</option>
        <option value="36">36</option>
    </select>
}
<table class="table table-striped table-bordered">
    <thead>
        <tr style="background: black;color:white;">
            <th>Datum</th>
            <th>Närvaro i % / dagar</th>
            <th>Sjuk/Ledig/Frånvarande</th>
        </tr>
    </thead>
    @foreach (var month in Model)
    {

        <tr style="background-color: ; color:white;">
            <td><h2>@month.MånadNamn</h2></td>
            <td>
                @month.PercentageAttendence % närvaro <br />
                @month.AttendendedDays / @month.ExpectedDays dagar närvarande <br />

            </td>
            <td>
                @month.SjukDays dagar sjuk | @month.LedigDays dagar ledigt | @month.Frånvarande dagar frånvarande
            </td>

        </tr>

    }

    <tfoot>
        <tr style="background: black;color:white;">
            <th>Datum</th>
            <th>Närvaro i % / dagar</th>
            <th>Sjuk/Ledig/Frånvarande</th>
        </tr>
    </tfoot>
</table>