@model List<BildstudionDV.BI.ViewModels.ViewModelMonthAttendence>
<br />
<br />

<button class="btn-info btn-block btn nav-link" onclick='window.location.href = "../närvaro/index"'>Tillbaka till Närvaro index</button>
<br />
<br />
<button class="btn-light btn-block btn nav-link" onclick='window.location.href = "../närvaro/ExportNärvaro?accessid="+@Html.Raw(ViewBag.accessid)+"&month="+@ViewBag.SelectValue'>Exportera Till Excel Fil</button><br />
<h1>Diagram för @ViewBag.DeltagarNamn</h1>
<br />
<b>Välj hur många månader du vill se bakåt</b>
@using (Html.BeginForm("diagram", "Närvaro", FormMethod.Get, new { name = "formDate" }))
{
    <input type="hidden" id="accessid" name="accessid" value="@ViewBag.accessid">
    <select class="btn-block" name="month" onchange="document.formDate.submit()" id="month">
        <option selected value="@ViewBag.SelectValue">@ViewBag.SelectValue</option>
        @if (ViewBag.SelectValue != 12)
        {
            <option value="12">12</option>
        }
        @if (ViewBag.SelectValue != 24)
        {
            <option value="24">24</option>
        }
        @if (ViewBag.SelectValue != 36)
        {
            <option value="36">36</option>
        }

    </select>
}
<table class="table table-striped table-bordered">
    <thead>
        <tr style="background-color: darkgray;color:black;">
            <th>Datum</th>
            <th>Närvaro i % / dagar</th>
            <th>Sjuk/Ledig/Frånvarande</th>
        </tr>
    </thead>
    @foreach (var month in Model)
    {
        if (month.ExpectedDays != 0)
        {
        <tr style="background-color: black; color:white;">
            <td><h2>@month.MånadNamn</h2></td>
            <td>
                @month.PercentageAttendence % närvaro <br />
                @month.AttendendedDays / @month.ExpectedDays dagar närvarande <br />

            </td>
            <td>
                @month.SjukDays dagar sjuk | @month.LedigDays dagar ledigt | @month.Frånvarande dagar frånvarande
            </td>

        </tr>
        }
    }

<tfoot>
    <tr style="background-color: darkgray;color:black;">
        <th>Datum</th>
        <th>Närvaro i % / dagar</th>
        <th>Sjuk/Ledig/Frånvarande</th>
    </tr>
</tfoot>
</table>