@model List<BildstudionDV.BI.ViewModels.ViewModelDeltagareAttendence>


<input type="button" class="btn btn-block btn-dark text-white" onclick="window.location.href ='../Närvaro/Attendence?date=@ViewBag.date'" value="Redigera Närvaro" />
<br /><br />
<form action="~/Närvaro/AddDeltagare">
    <button class="btn-outline-success btn-block btn nav-link" href="@Url.Action("AddDeltagare", "Närvaro")">Lägg Till Deltagare</button>
</form>
<br />
<br />
<table class="table table-striped table-bordered">
    <thead>
        <tr style="background: black;color:white;">
            <th>Deltagaren</th>
            <th>Närvaro i %</th>
            <th>Redigera</th>
        </tr>
    </thead>
    @foreach (var deltagare in Model.Where(x => x.PercentageAttendence < 50))
    {

        <tr style="background-color: darkred; color:white;">
            <td>@deltagare.Deltagarn.DeltagarNamn</td>
            <td>@deltagare.PercentageAttendence % - @deltagare.AttendendedDays / @deltagare.ExpectedDays dagar närvarnde</td>

            <td>
                <input type="button" class="btn btn-info" onclick='window.location.href = "../Närvaro/editdeltagare?id=@deltagare.Deltagarn.IdAcesss"' value="Redigera @deltagare.Deltagarn.DeltagarNamn" />
            </td>

        </tr>

    }

    @foreach (var deltagare in Model.Where(x => x.PercentageAttendence > 50))
    {
        <tr style="background-color: darkgreen; color:white;">
            <td>@deltagare.Deltagarn.DeltagarNamn</td>
            <td>@deltagare.PercentageAttendence % - @deltagare.AttendendedDays / @deltagare.ExpectedDays dagar närvarnde</td>

            <td>
                <input type="button" class="btn btn-info" onclick='window.location.href = "../Närvaro/editdeltagare?id=@deltagare.Deltagarn.IdAcesss"' value="Redigera @deltagare.Deltagarn.DeltagarNamn" />
            </td>

        </tr>

    }

    <tfoot>
        <tr style="background: black;color:white;">
            <th>
                Deltagarn
            </th>
            <th>
                Närvaro i %
            </th>
            <th>Redigera</th>
        </tr>
    </tfoot>
</table>