@model List<BildstudionDV.BI.ViewModels.InventarieViewModel>
@if (User.Identity.Name == "admin" || User.Identity.Name == "piahag")
{
    <input type="button" class="btn btn-block btn-info" onclick='window.location.href = "../inventarie/enhet"' value="Tillbaka till Enheten" />
}
<form action="~/inventarie/addinventarie">
    <button class="btn-outline-success btn-block btn nav-link">Lägg Till Inventarie</button>
</form>
<table class="table table-striped table-bordered">
    <thead>
        <tr style="background: black;color:white;">
            <th>Inventarie Namn</th>
            <th>Inventarie Antal</th>
            <th>Inventarie Fabrikat</th>
            <th>Redigera</th>
            <th>Datum Registrerat</th>
            <th>Pris</th>
            <th>Kommentar</th>
        </tr>
    </thead>
    @for (int i = 0; i < Model.Count; i++)
    {
<tr style="color:white;">
    <td>@Model[i].InventarieNamn</td>
    <td>@Model[i].Antal</td>
    <td>@Model[i].Fabrikat</td>
    <td>
        <input type="button" class="btn btn-info" onclick='window.location.href = "../inventarie/editinventarie?id=@i"' value="Redigera Inventarien" />
    </td>
    <td>@Model[i].DatumRegistrerat.ToString("yyyy-MM-dd")</td>
    <td>@Model[i].Pris</td>
    <td>@Model[i].InventarieKommentar</td>
</tr>
    }
    <tfoot>
        <tr style="background: black;color:white;">
            <th>Inventarie Namn</th>
            <th>Inventarie Antal</th>
            <th>Inventarie Fabrikat</th>
            <th>Redigera</th>
            <th>Datum Registrerat</th>
            <th>Pris</th>
            <th>Kommentar</th>
        </tr>
    </tfoot>
</table>