@model BildstudionDV.BI.ViewModels.AttendenceViewModel

@using (Html.BeginForm("UpdateNärvaro", "Närvaro", FormMethod.Post, new { name =  Model.DeltagarNamn+"form", id=Model.DeltagarNamn+"form" })){

<div class="row" style="background-color:black; color:white;">

    <div class="col">
        @Html.HiddenFor(x => x.DeltagarNamn)
        <h1>
            <b>
                @Html.Label(Model.DeltagarNamn)
            </b>
        </h1>
    </div>
    <div class="col">
            <b>
                Måndag:<br /></b>
                @Html.DropDownListFor(x => x.Måndag, new List<SelectListItem>
            {
                new SelectListItem { Text = "--Välj--", Value = "4" },
                new SelectListItem { Text = "Heldag", Value = "0" },
               new SelectListItem { Text = "Halvdag", Value = "1" },
                     new SelectListItem { Text = "Sjuk", Value = "2" },
                           new SelectListItem { Text = "Ledig", Value = "3" },
               new SelectListItem { Text = "Frånvarande", Value = "4" },
                       new SelectListItem { Text = "HeldagMat", Value = "5" },
                              new SelectListItem { Text = "HalvdagMat", Value = "6" },
               new SelectListItem { Text = "FrånvarandeMat", Value = "7" },
               new SelectListItem { Text = "Övrigt", Value = "8" },
            },
        new { @onchange = "document.getElementById('" + @Model.DeltagarNamn + "').click()", @class = "dropdown" })
        </div>
        <div class="col">
            <b>
                Tisdag:<br />
            </b>
            @Html.DropDownListFor(x => x.Tisdag, new List<SelectListItem>
        {
            new SelectListItem { Text = "--Välj--", Value = "4" },
            new SelectListItem { Text = "Heldag", Value = "0" },
           new SelectListItem { Text = "Halvdag", Value = "1" },
                 new SelectListItem { Text = "Sjuk", Value = "2" },
                       new SelectListItem { Text = "Ledig", Value = "3" },
           new SelectListItem { Text = "Frånvarande", Value = "4" },
                   new SelectListItem { Text = "HeldagMat", Value = "5" },
                          new SelectListItem { Text = "HalvdagMat", Value = "6" },
           new SelectListItem { Text = "FrånvarandeMat", Value = "7" },
           new SelectListItem { Text = "Övrigt", Value = "8" },
           },
    new { @onchange = "document.getElementById('" + @Model.DeltagarNamn + "').click()", @class = "dropdown" })
        </div>
        <div class="col">
            <b>
                Onsdag: <br />
            </b>
            @Html.DropDownListFor(x => x.Onsdag, new List<SelectListItem>
        {
            new SelectListItem { Text = "--Välj--", Value = "4" },
            new SelectListItem { Text = "Heldag", Value = "0" },
           new SelectListItem { Text = "Halvdag", Value = "1" },
                 new SelectListItem { Text = "Sjuk", Value = "2" },
                       new SelectListItem { Text = "Ledig", Value = "3" },
           new SelectListItem { Text = "Frånvarande", Value = "4" },
                   new SelectListItem { Text = "HeldagMat", Value = "5" },
                          new SelectListItem { Text = "HalvdagMat", Value = "6" },
           new SelectListItem { Text = "FrånvarandeMat", Value = "7" },
           new SelectListItem { Text = "Övrigt", Value = "8" },
           },
    new { @onchange = "document.getElementById('" + @Model.DeltagarNamn + "').click()", @class = "dropdown" })
        </div>
        <div class="col">
            <b>
                Torsdag:<br />
            </b>
            @Html.DropDownListFor(x => x.Torsdag, new List<SelectListItem>
    {
            new SelectListItem { Text = "--Välj--", Value = "4" },
            new SelectListItem { Text = "Heldag", Value = "0" },
           new SelectListItem { Text = "Halvdag", Value = "1" },
                 new SelectListItem { Text = "Sjuk", Value = "2" },
                       new SelectListItem { Text = "Ledig", Value = "3" },
           new SelectListItem { Text = "Frånvarande", Value = "4" },
                   new SelectListItem { Text = "HeldagMat", Value = "5" },
                          new SelectListItem { Text = "HalvdagMat", Value = "6" },
           new SelectListItem { Text = "FrånvarandeMat", Value = "7" },
           new SelectListItem { Text = "Övrigt", Value = "8" },
           },
    new { @onchange = "document.getElementById('" + @Model.DeltagarNamn + "').click()", @class = "dropdown" })
        </div>
        <div class="col">
            <b>
                Fredag:<br />
            </b>
            @Html.DropDownListFor(x => x.Fredag, new List<SelectListItem>
        {
                  new SelectListItem { Text = "--Välj--", Value = "4" },
            new SelectListItem { Text = "Heldag", Value = "0" },
           new SelectListItem { Text = "Halvdag", Value = "1" },
                 new SelectListItem { Text = "Sjuk", Value = "2" },
                       new SelectListItem { Text = "Ledig", Value = "3" },
           new SelectListItem { Text = "Frånvarande", Value = "4" },
                   new SelectListItem { Text = "HeldagMat", Value = "5" },
                          new SelectListItem { Text = "HalvdagMat", Value = "6" },
           new SelectListItem { Text = "FrånvarandeMat", Value = "7" },
           new SelectListItem { Text = "Övrigt", Value = "8" },
           },
    new { @onchange = "document.getElementById('" + @Model.DeltagarNamn + "').click()", @class = "dropdown" })
            <input type="submit" class="btn btn-success" hidden="hidden" id="@Model.DeltagarNamn">


        </div>
    </div>
    }
<br />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script>
    $('#@(Model.DeltagarNamn)form').on('submit', function (evt) {
    evt.preventDefault();
    $.post('../närvaro/updatenärvaro', $(this).serialize(), function (response) {

    });
    });


</script>
