@model BildstudionDV.BI.ViewModels.UserProfileViewModel
<center>
    <input type="button" class="btn btn-block btn-info" onclick='window.location.href = "../inventarie/index"' value="Tillbaka till Enheter" />
    @using (Html.BeginForm())
    {


        <b>AnvändarNamn:</b><br />
        @Html.TextBoxFor(x => x.UserName) <br />
        <select id="grupp" name="grupp">
            @for (int i = 0; i < ViewBag.gruppNamnList.Count; i++)
            {
                <option value="@ViewBag.gruppNamnList[i]">@ViewBag.gruppNamnList[i]</option>
            }
        </select> <br />
        <b>Lösenord:</b><br />
        @Html.PasswordFor(x => x.Password) <br />
        <b>Upprepa Lösenord:</b><br />
        @Html.PasswordFor(x => x.NewPassword) <br />

        <font color="red">@ViewBag.error</font> <br />
        <input type="submit" class="btn btn-success" value="Lägg till Användaren" />
    }
</center>